* {
    box-sizing: border-box;
}

section#apple, section#applep {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: #f8f9fa!important;
}

.trigger1 {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    height: 100%;
}

#applep h2 {
    font-size: 50px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    // font-weight: 500;
    color: #212529;
}

#applep .grid-12 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#applep .position-h2 {
    // grid-row: 7;
    grid-column: 5 / span 4;
    align-self: center;
}

.iphone-image-wrapper {
    // height: 100vh;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-auto-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
}

.iphone-image {
    grid-row: 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self:center;
    text-align: center;
    max-width: 100%;
}

.inner-phone {
    position: relative;
}


#apple p {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin:0 0 8px 0;
}

.iphone1-text {
    grid-column: 1;
    text-align: right;
}

.iphone2-text {
    grid-column: 3;
}

.iphone1-img {
    position: absolute;
    z-index: 2;
}

.iphone-stick {
    display: none;
    position: absolute;
    left: 54.5%;
}

.iphone2-img {
    position: absolute;
    z-index: 2;
}

.iphone1 img {
    width: 100%;
}

.iphone2 img {
    width: 88%;
}

.iphone1-img-behind {
    z-index: 1;
    position: relative;
}

.iphone2-img-behind {
    z-index: 1;
    position: relative;
}

@media(max-width:768px) {
    #applep h2 {
        font-size: 24px;
    }
    .iphone1-text p, .iphone2-text p {
        font-size: 0px !important;
    }
    .iphone-image-wrapper {
        margin-top: 40px;
    }
    #apple {
        overflow: hidden !important;
        padding-bottom: 100px;
    }
    #applep {
    padding-top: 100px;
    }
}