#contact-form {
    h3 {
        text-align: center;
    }
    .nf-form-fields-required {
        display: none;
    }
    .tu-add-form input {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        padding: 20px;
        height: auto !important;
    }
}